@page "/login"
@attribute [AllowAnonymous]
<div class="row">
    <div class="col text-center">
        <a class="btn btn-success rounded-0" href="/ExternalLogin?provider=bankid-samedevice">
            Login
        </a>
    </div>
</div>
